@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  background-color: $very-light-grayish-blue;
  background-image: url('../bg-top.svg'), url('../bg-bottom.svg');
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  font-family: $font-family;
}

header {
  padding: 64px 68px 80px;

  h1 {
    color: $grayish-blue;
    font-size: 32px;
    margin: 0;
    text-align: center;
  }

  input {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  .switch-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;

    p {
      color: $light-grayish-blue;
    }
  }

  .switch-wrap {
    align-items: center;
    background: $primary-gradient;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    margin: 0 24px;
    padding: 4px;
    width: 56px;

    &:hover {
      opacity: 0.7;
    }
  }

  input:checked {
    + .switch {
      grid-template-columns: 1fr 1fr 0;
    }
  }

  .switch {
    display: grid;
    grid-template-columns: 0 1fr 1fr;
    height: 100%;
    width: 100%;

    &::after {
      background: #fff;
      border-radius: 50%;
      content: '';
      grid-column: 2;
      transition: 1s;
    }
  }
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 24px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
  }
}

.price-box-wrapper {
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 rgba(212, 210, 244, 0.5);
  margin-bottom: 32px;
  max-width: 350px;
  padding: 30px;
  text-align: center;
  width: 100%;

  h3 {
    color: $grayish-blue;
    font-size: 18px;
    margin: 0 0 24px;
  }

  h2 {
    align-items: center;
    color: $dark-grayish-blue;
    display: flex;
    font-size: 72px;
    justify-content: center;
    margin: 0 0 32px;

    .dollar {
      font-size: 40px;
      margin-right: 7px;
    }
  }

  p {
    border-bottom: 1px solid;
    font-size: $paragraph-size;
    margin: 0;
    padding: 13px 0;

    &:first-of-type {
      border-top: 1px solid;
    }
  }

  button {
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 32px;
    padding: 14px 0;
    text-transform: uppercase;
    width: 100%;
  }
}

.price-box-wrapper.light {
  background-color: #fff;

  h3 {
    color: $grayish-blue;
  }

  h2 {
    color: $grayish-blue;
  }

  p {
    color: $grayish-blue;
  }

  button {
    background: $primary-gradient;
    color: #fff;

    &:hover {
      background: transparent;
      border: 1px solid hsl(237, 63%, 64%);
      color: hsl(237, 63%, 64%);
      padding: 13px 0;
    }
  }
}

.price-box-wrapper.dark {
  background: $primary-gradient;

  @media screen and (min-width: 1200px) {
    padding-bottom: 53px;
    padding-top: 53px;
  }

  h3 {
    color: #fff;
  }

  h2 {
    color: #fff;
  }

  p {
    color: #fff;
  }

  button {
    background: #fff;
    color: hsl(237, 63%, 64%);

    &:hover {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      padding: 13px 0;
    }
  }
}

.monthly {
  .monthly-price {
    display: inline;
  }

  .annually-price {
    display: none;
  }
}

.annually {
  .monthly-price {
    display: none;
  }

  .annually-price {
    display: inline;
  }
}
