@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Colors
$primary-gradient: linear-gradient(135deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

// Typography
$paragraph-size: 15px;
$font-family: 'Montserrat', sans-serif;
$font-weight: 700;
